.questionCont {
  border-radius:10px;
}

.questionCont .list-group-item:hover,
.questionCont .list-group-item.active{
  background:#5cb85c;
  color:white;
}
.onlyActive {
  display:none;
}
.questionCont .list-group-item.active .onlyActive{
  display:inline-block;
}
.questionCont form .form-group{
  margin-bottom:0px;
}
